<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="desktop-g9ntn71.QLKho.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-G9NTN71;integrated security=SSPI;initial catalog=QLKho"/>
        <add name="UI.Properties.Settings.QLKhoConnectionString" connectionString="Data Source=DESKTOP-G9NTN71;Initial Catalog=QLKho;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="datlepc.QLKho.dbo" connectionString="XpoProvider=MSSqlServer;data source=DATLEPC;integrated security=SSPI;initial catalog=QLKho"/>
        <add name="UI.Properties.Settings.QLKhoConnectionString1" connectionString="Data Source=DATLEPC;Initial Catalog=QLKho;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
